{{procmaillog}}
{
        rotate 7
        monthly
        missingok
        notifempty
        delaycompress
        compress
}

{{callslogfile}}
{
        rotate 3
        yearly
        missingok
        notifempty
        delaycompress
        compress
}
