<?xml version="1.0" encoding="UTF-8" ?>
<Response>
	<Say voice="woman" language="en" loop="3">Hello! Issue number, 1 2 3 4, has just been escalated to Emergency status, by user, Joe Doe. Please, respond immediately. This is issue, number, 1 2 3 4. Project is, joesproject. The contact is, Joe Doe. Oh, and one more thing...  Stay frosty!</Say>
</Response>
